* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(/images/photo_2024-07-19_21-20-53-removebg.png);
    background-size: 950px 700px;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 85px;
}

.marquee-container {
    padding: 10px;
    background-color: black;
    border: 1px solid red;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: marquee 10s linear infinite;
}

.marquee-container marquee {
    font-size: 1.2em;
    color: #fff;
}

#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), purple);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #0044ff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.btn:hover {
    background-color: #ff004f;
    transition: 0.5s;
}

footer {
    background-color: #333;
    padding: 30px 10%;
    color: #fff;
    text-align: center;
    border-top: 1px solid #444;
}

footer h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.newsletter-form input[type="email"] {
    padding: 14px;
    border: 1px solid #ff004f;
    border-radius: 6px;
    width: 300px;
    max-width: 100%;
    font-size: 16px;
    color: #333;
}

.newsletter-form button {
    padding: 14px 30px;
    border: 1px solid #ff004f;
    border-radius: 6px;
    background-color:black;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, border-color 0.3s;
}

.newsletter-form button:hover {
    background-color: #e60042;
    border-color: #e60042;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:white;
    display: inline-block;
}